* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #ffffff;
}

body .carruselContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

p {
    color: #0d0d0d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h2 {
    color: #f2bc1b;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

header img {
    width: 50px;
    height: 50px;
    filter: saturate(100%);
}

h3 {
    color: #0d0d0d;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    font-size: large;
    text-align: left;
    color: #353caf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

/*Dia de semana*/

div h1{
    display: inline-block;
    position: absolute;
    margin-top: 300px;
    margin-left: 175px;
}

/*Carrusel*/

.carruselContainer {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
}

.imgSlider {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    right: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.imagen {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}

.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}

.button:hover {
    background-color: rgba(0, 0, 0, .2);
}

#slider-span1:target~.imgSlider #img1,
#slider-span1:target~.imgSlider #button1 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target~.imgSlider #img2,
#slider-span2:target~.imgSlider #button2 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target~.imgSlider #img3,
#slider-span3:target~.imgSlider #button3 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target~.imgSlider #img4,
#slider-span4:target~.imgSlider #button4 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target~.imgSlider #img5,
#slider-span5:target~.imgSlider #button5 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span6:target~.imgSlider #img6,
#slider-span6:target~.imgSlider #button6 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span7:target~.imgSlider #img7,
#slider-span7:target~.imgSlider #button7 {
    width: 380px;
    height: 545px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target~.imgSlider {
    left: 70%;
}

#slider-span2:target~.imgSlider {
    left: 50%;
}

#slider-span3:target~.imgSlider {
    left: 25%;
}

#slider-span5:target~.imgSlider {
    left: -25%;
}

#slider-span6:target~.imgSlider {
    left: -50%;
}

#slider-span7:target~.imgSlider {
    left: -70%;
}

/*@media (max-width: 700px){

  }*/