* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
}

nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}


nav li:hover ul {
  display: block;
}

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #353caf;
  width: 85%;
}

nav ul li a:hover {
  border-top: 1px solid #f2bc1b;
  border-bottom: 1px solid #f2bc1b;
}

nav ul li:hover>a {
  background-color: #202020;
  padding: none;
  width: 80%;
  margin: 0;
}

nav ul ul li {
  float: none;
  position: relative;
}


nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}


nav ul ul li {
  background-color: #0D0D0D;
  margin: 0;
  width: 100%;
}

nav {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  background-color: #0d0d0d;
}

ul {
  margin: auto;
  text-align: center;
}

li {
  list-style: none;
  display: inline-flex;
  margin: 0px 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav div {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

header img {
  width: 10%;
  background-color: #0D0D0D;
}





/* Inicio Footer*/

footer {
  background-color: #000;
}

.piepag {
  width: 100%;
  padding: 70px 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socialIcons {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}

/*Hover en los iconos*/

.socialIcons a:hover {
  background-color: #000;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}

/*Navegación del footer*/

.footerNav {
  margin: 30px;

}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: nones;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.2;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerB {
  background-color: grey;
  padding: 20px;
  text-align: center;
}

.footerB p {
  color: white;
}

.diseño {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
























/*footer {
  padding: 0.5em;
  width: 100%;
  border: 1px solid #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

footer h3 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0 auto;
  font-size: 1.1em;
}

footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  right: 0;
}*/